<html>
<head>
    <link rel="stylesheet" href="./css/moviesPage.css">
</head>
<body>
    <div class="header">
        <form action="/movies">
            <button>Back to list</button>
        </form>
    </div>
    <div class="movieDetails">
        <h1 >{{movies.name}}</h1>
        <img src="{{movies.image}}" alt="">
        <span>Genre: {{movies.genre}}</span>
        <p>{{movies.description}}</p>
    </div>
    <script src=""></script>
</body>
</html>